 <div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      {{view Ember.Select value=operator content=stream.operators optionValuePath="content"
         optionLabelPath="content.name" prompt="Select an operator"}}
      {{view Ember.Select value=targetType content=targetTypes optionValuePath="content.id"
         optionLabelPath="content.label"
         prompt="Select a type"}}
      {{view Ember.Select value=target content=targets optionValuePath="content"
         optionLabelPath="content.title" prompt="Select a target"}}
      <button {{action 'saveObserver'}} type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</div>
