<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <label for="uploadFile">File</label>
      {{view "upload_file" valueBinding="name" content=content id="uploadFile"}}
      <p class="help-block">Choose a stromx file.</p>
    </div>
    <button {{action 'addFile'}} type="submit" class="btn btn-default">Upload</button>
  </div>
</div>
