 <div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <label for="stromx-file-input">Filename</label>
      {{input value=name class="form-control" placeholder="Enter filename" id="stromx-file-input"}}
    </div>
    <div class="form-group">
      <button {{action "cancel"}} type="submit" class="btn btn-default stromx-cancel">Cancel</button>
      <button {{action "save"}} type="submit" class="btn btn-primary stromx-save">Save</button>
    </div>
  </div>
</div>
