 <div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <label for="newFile">Filename</label>
      {{input valueBinding="name" class="form-control" placeholder="Enter filename" id="newFile"}}
    </div>
    <div class="form-group">
      {{#link-to 'files.index' type="button" class="btn btn-default"}}Cancel{{/link-to}}
      <button {{action 'newFile'}} type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>