 <div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <label for="newFile">Filename</label>
      {{input value=name class="form-control" placeholder="Enter filename" id="newFile"}}
    </div>
    <div class="form-group">
      <button {{action "cancel"}} type="submit" class="btn btn-default">Cancel</button>
      <button {{action "save"}} type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
