<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <label for="upload-file">File</label>
      {{view "upload-file" value=name content=content id="stromx-upload-file"}}
      <p class="help-block">Choose a stromx file.</p>
    </div>
    <div class="form-group">
      <button {{action 'cancel'}} type="submit" class="btn btn-default stromx-cancel">Cancel</button>
      <button {{action 'upload'}} type="submit" class="btn btn-primary stromx-upload">Upload</button>
    </div>
  </div>
</div>
