<!DOCTYPE html>
<html>
  <head>
    <base href="../">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>stromx-web</title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/stromx-web.css">
  </head>
  <body>
  <div class="container">
    <h1>Welcome to stromx-web</h1>
    
    <p>This server hosts a recent version of stromx-web development branch. 
    To avoid spam or misuse of this site we require you to login with your Google account to proceed:</p>

    <p><a href="{{loginUrl}}">Log in with Google</a></p>

    <p> Please note:</p>
    <ul>
      <li><b>No data concerning your login is stored on this server.</b> Your modifications of the data on the server maybe saved but are never linked to your identity.</li>
      <li><b>The complete source code of the stromx-web server is <a href="https://github.com/uboot/stromx-web">available</a>.</b> Please be assured that the web site you are currently viewing is built from exactly this code. </li>
      <li>This server is only playground to explore very early versions of stromx-web without installing them on your own system. The data on this server is visible to everybody else who logs in. <b>Do not enter any private data.</b> Be prepared that any data can be deleted at any time.</li>
    </ul>
  </div>
  </body>
</html>
