<!DOCTYPE html>
<html>
  <head>
    <base href="../">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>stromx-web</title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/stromx-web.css">
  </head>
  <body>
  <div class="container">
    <h1>Login</h1>
    Please use your Google account to login <a href="{{loginUrl}}">here</a>.
  </div>
  </body>
</html>
