<!DOCTYPE html>
<html>
  <head>
    <base href="../" target="_blank">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>stromx-web</title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/stromx-web.css">
  </head>
  <body>
  <div class="container">
    <h1>Logged out</h1>
    You are now logged out. Click <a href="/">here</a> to log back in.
  </div>
  </body>
</html>
