<ol class="breadcrumb">
  <li>{{#link-to "stream.index"}}{{model.file.name}}{{/link-to}}</li>
  <li>New view</li>
</ol>

<h3>
  New view
</h3>

<div class="form-group">
  <label for="stromx-view-input">Name</label>
  {{input value=name class="form-control" placeholder="Enter view name" id="stromx-view-input"}}
</div>
<div class="form-group">
  <button {{action "cancel"}} type="submit" class="btn btn-default stromx-cancel">Cancel</button>
  <button {{action "save"}} type="submit" class="btn btn-primary stromx-save">Save</button>
</div>
