<h1>Observer</h1>

<table class="table">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Name
      </td>
      <td>
        {{name}}
      </td>
    </tr>
    {{#each observers itemController="observer"}}
    <tr>
      <td>
        Visualization type
      </td>
      <td>
        {{visualizationLabel}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table> 