$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
h1 { 
  text-align: center;
}

.stromx-subtitle { 
  text-align: center;
}


.stromx-center-buttons {
  text-align: center;
  height: 50px;
}