$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
h1 { 
  text-align: center;
}

.stromx-subtitle { 
  text-align: center;
}


.stromx-center-buttons {
  text-align: center;
  height: 50px;
}

.stromx-stream-view{
  max-height: 300px;
  overflow: auto;
}

.stromx-svg-operator-rect{
  fill-opacity: 0.0;
  stroke: black;
  stroke-width: 2;
}

.stromx-svg-operator-name{
  text-anchor: middle;
}

.stromx-svg-connection-line{
  stroke-width: 2;
}

