<div class="container">
  {{outlet}}

  {{#if length}}
  <div class="well">
    {{#each model key="@index" as |error|}}
      {{x-error model=error}}
    {{/each}}
  </div>
  <button {{action "clearErrors"}} class="btn btn-default pull-left">Clear Errors</button>
  {{/if}}
</div>

{{outlet "context"}}
