{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}

    <a class="navbar-brand" href="http://www.stromx.org">
      <img alt="stromx-logo" src="/assets/logo.png">
    </a>
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to 'files.new'}}New File{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to 'files.upload'}}Upload File{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
    <p class="navbar-text navbar-right"><a href="auth/logout" class="navbar-link">Log out</a></p>
  {{/navbar.content}}
{{/bs-navbar}}

<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm-8">
    {{outlet}}
    <table class="table">
      <thead>
        <tr>
          <th>
            Files
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model key="@index" as |file|}}
          <tr class="stromx-file-row">
            <td>
              {{x-file model=file open="openFile"}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="col-sm-2"></div>
</div>
