{{#context-menu}}
  <li role="presentation" class="dropdown-header">{{name}}</li>
  <li><a {{action "initialize"}}>Initialize</a></li>
  <li><a {{action "deinitialize"}}>Deinitialize</a></li>
  <li>{{#link-to "operator" this}}Show{{/link-to}}</li>
  <li><a {{action "remove"}}>Remove</a></li>
{{/context-menu}}
