{{#context-menu}}
  <li>{{name}}</li>
  <li><a {{action "initialize"}}>Initialize</a></li>
  <li><a {{action "deinitialize"}}>Deinitialize</a></li>
  <li><a {{action "remove"}}>Remove</a></li>
{{/context-menu}}
