{{#if isList}}
  {{#each listData key="@index" as |item|}}
    {{html-value value=item observer=observer}}<br>
  {{/each}}
{{else}}
  {{#if isText}}
    <span class="stromx-observer-value-text">{{textData}}</span>
  {{/if}}
{{/if}}
