<ol class="breadcrumb">
  <li>{{model.file.name}}</li>
</ol>
        
<h3>Stream</h3>

<p>
  Add operators to the graphical stream editor on the right.
</p>

<p>
  Initialize the operators and connect them. Observe operator inputs and output
  by clicking on the <i>Eye</i> symbol.
</p>

<p>
  Start the stream and select the <i>View</i> tab to observe the processed data.
</p>
