<ol class="breadcrumb">
  <li>{{file.name}}</li>
</ol>
        
<h3>Stream</h3>

<p>
  Add operators to the graphical stream editor on the right.
</p>

<p>
  Initialize the operators and connect them. Add a thread to the stream editor
and assign it to the connections.
</p>

<p>
  Start the stream.
</p>

<p>
  Add a view and observe inputs of operators.
</p>