 <div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      {{view "select" prompt="Select an operator"}}
    </div>
    <button {{action 'saveOperator'}} type="submit" class="btn btn-default">Save</button>
  </div>
</div>
