<div class="form-group">
  <label for="type">Operator</label>
  {{view "select" value=operator content=operators optionLabelPath="content.type" prompt="Select an operator" id="type"}}
</div>
<div class="form-group">
  <label for="name">Name</label>
  {{input valueBinding="name" class="form-control" placeholder="Enter operator name" id="name"}}
</div>


<div class="form-group">
  {{#link-to 'stream.index' type="button" class="btn btn-default"}}Cancel{{/link-to}}
  <button {{action 'save'}} {{bind-attr class=":btn :btn-primary saveIsDisabled:disabled"}} type="submit">Save</button>
</div>